<div class="row mt-5">
  <div class="col">
    <h2>Empresas Cadastradas</h2>
    <form>
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Nome da empresa" />
        <label>CNPJ</label>
        <input type="text" class="form-control" placeholder="CNPJ da empresa" />
      </div>

      <button type="submit" class="btn btn-default ml-2">Pesquisar</button>
      <button type="submit" class="btn btn-primary" [routerLink]="['criar']">
        Novo Cadastro
      </button>
    </form>
  </div>
</div>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresas of empresas">
        <td>{{ empresas.id }}</td>
        <td>{{ empresas.nome }}</td>
        <td>{{ empresas.cnpj }}</td>
        <td></td>

        <td>
          <button
            type="button"
            class="btn btn-outline-danger mb-1 btn-sm"
            (click)="onDelete(empresas)"
          >
            Remover
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Você realmente deseja excluir?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template> -->
